@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbbebe;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bd9d9d;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.admin-layout {
  font-family: "Inter", sans-serif;
}

.admin-sidebar a:hover {
  text-decoration: none;
}

.product-list li:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}

.order-list li:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}
.addingProductContent{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.leftContent{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.TitleHead{
  font-size: 18px;
  font-weight: 600;
  color:#4600eb
}
.admin-products img {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
